@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .body{
    @apply bg-gray-100;
  }
}

@layer components {
  .btn {
    @apply ;
  }
}

@layer utilities {
  .btn {
    @apply ;
  }
}

.ts-bottom{
  /* color: transparent; */
  text-shadow: 0 0 3px rgba(255,0,0,1);
}
.text-stroke {
  -webkit-text-stroke: 2px #FF0000;
  text-stroke: 2px #FF0000;
  color: transparent;
}



