@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .body{
    @apply bg-gray-100;
  }
}

@layer components {
  .btn {
    @apply bg-gray-100;
  }
}

@layer utilities {
  .btn {
    @apply bg-gray-100;
  }
}

.text-stroke {
  -webkit-text-stroke: 1px #FF0000;
  text-stroke: 1px #FF0000;
  color: #6D6D6D;
}



