@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --txt-primary: #FFF;
  --txt-secondary: #FF0000;
  --txt-tertiary: #BABABA;
  --txt-quaternary: #6D6D6D;
  --bg-primary: #151515;
  --bg-secondary: #430000;
  --bg-tertiary: #242424;
  --lnr-primary: linear-gradient(to bottom, #FF0000, #FFF);
  --lnr-secondary: linear-gradient(to bottom, #FFF, #FF0000);
  --lnr-tertiary: linear-gradient(to right, #FFF, #FF0000);
}

